*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(191, 216, 129);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color:   rgb(0, 0, 0);
    color: rgb(73,76 ,78);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 350px;
    padding: 2rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.pantalla{
    grid-column:1/5 ;
    background-color: aliceblue;
    padding: 1rem;
    font-size: 2.5rem;
    text-align: right;
    border-radius: 0.5rem;
    font-weight: 650;
    margin-bottom: 0.5rem;
}

.boton{
    background-color: blueviolet;
    color: rgb(7, 36, 61);
    border: 0;
    padding: 1.2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(255, 255, 255);
}

#cero{
    grid-column: span 2 ;
}

#igual{
    grid-row: span 2;
    background-color: rgba(10, 249, 181, 0.592);
}

#igual:hover{
    background-color: blueviolet;
}
